spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.flexisaf.admissions: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: TRACE
